
.hero {
    height: 100vh;
    display: flex;
    padding-left: 30px;
    background-image: linear-gradient(
            to right,
            rgba(180, 68, 24, 0.8),
            rgb(241, 180, 47, 0.8)
        ),
        url(https://images.pexels.com/photos/1146760/pexels-photo-1146760.jpeg?cs=srgb&dl=pexels-kristina-paukshtite-1146760.jpg&fm=jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.hero-inner {
    width: 50%;
    margin: auto;
    text-align: center;
}
.main-line {
    display: block;
    color: #fff;
    font-size: 7em;
    font-family: "Grand Hotel", cursive;
    font-weight: 600;
}
.navbar {
    position: relative;
}
.nav-last {
    position: absolute;
    right: 20px;
}
.cta-btn {
    margin-top: 30px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #FFF;
    padding: 20px 30px;
    font-weight: 600;
    font-size: 1.6em;
    transition: 0.3s;
}
.cta-btn:hover {
    background-color: #FFF;
    color: #000;
    transition: 0.3s;
}
.cta-btn:disabled {
    background-color: transparent;
    color: rgb(58, 58, 58);
}
.cta-btn:hover:disabled {
    background-color: transparent;
    color: rgb(58, 58, 58);
    transition: 0.3s;
}
.title {
    margin-top: 100px;
    text-align: center;
    font-size: 4.5em;
    font-weight: 600;
    color:#6D6D04;
}
.section-title {
    font-weight: 600;
    color: #B44418;
}
.form-section {
    margin-top: 30px;
    font-size: 1.4em;
    padding: 30px;
    background-color: #f5f3f0;
}
.search-section {
    padding: 0px 0px 50px;
    width: 70%;
    margin: auto;
}
.continue {
    margin-top: 30px;
    margin-bottom: 80px;
    background-color: transparent;
    border: 1px solid #B44418;
    padding: 20px 100px;
    font-weight: 600;
    font-size: 1.4em;
    transition: 0.3s;
}
.continue:disabled:hover {
    background-color: #FFF;
    transition: 0.3s;
    color: rgb(102, 102, 102);
}
.continue:hover {
    background-color: #B44418;
    transition: 0.3s;
    color: #FFF;
}
.section-content {
    width: 50%;
    margin: 0px auto;
}
.name-title {
    font-size: 1.4em;
    font-weight: 700;
}
.align-center {
    text-align: center;
}

.navbar-brand {
    margin-left: 30px;
}
.navbar {
    background-color: #B44418 !important;
}
.navbar a {
    color: white;
}
.nav-link:hover{
    color: #000;
}
.col {
    margin-bottom: 50px;
    flex: 0 0 0%;
}
.btn-red {
    color: #B44418;
    background-color: #FFF;
    border-color: #B44418;
    border-radius: 0;
    display: block;
    margin-top: 20px;
}
.btn-red:hover {
    color: #FFF;
    background-color: #B44418;
    border-color: #B44418;
    border-radius: 0;
}
.btn-yellow {
    color: #F1B42F;
    background-color: #FFF;
    border-color: #F1B42F;
    border-radius: 0;
    margin-top: 20px;
}
.btn-yellow:hover {
    color: #FFF;
    background-color: #F1B42F;
    border-color: #F1B42F;
    border-radius: 0;
}
.btn-green {
    color: #6D6D04;
    background-color: #FFF;
    border-color: #6D6D04;
    border-radius: 0;
    margin-top: 20px;
}
.btn-green:hover {
    color: #FFF;
    background-color: #6D6D04;
    border-color: #6D6D04;
    border-radius: 0;
}
.bold {
    font-weight: 600;
}
.font-primary-text {
    color: #B44418;
}
.font-secondary-text {
    color: #6D6D04;
}
.card-body {
    font-size: 1.4em;
}
.card-body h4 {
    margin-top: 30px;
    font-size: 1.5em;
}
.large-card {
    width: 70%;
    margin: 100px auto;
    padding: 20px;
}
.card-links {
    width: 100%;
}
.btn-3-row {
    width: 30%;
    margin-right: 5%;
    display: inline-block;
    font-size: .8em;
}
.btn-3-row:last-child {
    margin-right: 0;
}
.section-content-half {
    width: 40%;
    padding: 30px;
}
.center-items {
    display: flex;
    justify-content: center;
}
.ingredient-img {
    height: 430px;
    width: 430px;
    z-index: 1;
    margin-left: -430px;
}